*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10%;

    ul{
        display: flex;
        gap: 20px;
        .aa{
            font-size: 18px;
            color: black;
            text-decoration: none;
        }
    }
    button{
        border: none;
        padding: 10px 15px;
        color: white;
        background-color: green;
        border-radius: 5px;
        cursor: pointer;
    }
}
.bar{
    font-size: 25px;
    display: none;
}
@media only screen and (max-width: 600px) {
   ul{
    display: none !important;
   }
   .bar{
    display: block !important;
   }
  }
  .end{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }